<md-content layout-padding ng-if='showFilter' class='margin-bottom'>
    <div>
        <form name='filterForm'>
            <div layout='row'>
                <md-input-container class='md-block' flex='20'>
                    <label>Filter By</label>
                    <md-select ng-model='filterOptions.filterBy'>
                        <md-option ng-repeat='option in options' value="{{option}}">
                            {{ option }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class='md-block' flex='80'>
                    <label>Filter by {{ filterOptions.filterBy }}</label>
                    <input ng-model='filterOptions.value'>
                </md-input-container>
            </div>
        </form>
    </div>
</md-content>
<md-content layout-padding flex='grow' layout='column'>
    <div layout='row' class='table-header'>
        <div layout='column' class='column-header' flex="5">#</div>
        <div layout='column' class='column-header' ng-repeat='heading in headings' flex='{{ heading.flex }}'>{{ heading.title }}</div>
    </div>
</md-content>
<md-content layout-padding flex='grow' layout='column'>
    <!-- <div layout='row' ng-repeat="row in data track by $index" class='table-row'> -->
    <div layout='row' dir-paginate="row in data | itemsPerPage: config.itemsPerPage track by $index" class='table-row' total-items="{{totalitems}}" ng-click="showDetails(row.id)">
        <div layout='column' class='column-header' flex="5">{{ $index + 1}}</div>
        <div layout='column' class='column-header' ng-repeat='heading in headings' flex='{{ heading.flex }}'>{{ row[heading.name] || '- empty -' }}</div>
    </div>
    <div class="page-ctrl">
        <dir-pagination-controls direction-links="true" on-page-change="goToPage(newPageNumber, oldPageNumber)" template-url="views/directives/dir.pagination.template.html">

        </dir-pagination-controls>
    </div>
    <p class='text-center' ng-if='!data || data.length === 0'>
        <small>No record(s) found in the system.</small>
    </p>
</md-content>