<md-dialog aria-label="Delete">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon label='material-icons'>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                {{ msg }}
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <button class="mui-btn mui-btn--danger float-left" ng-click="cancel()">Cancel</button>
            <button class="mui-btn mui-btn--primary float-right" ng-click='answer()'>Confirm</button>

        </md-dialog-actions>
    </form>
</md-dialog>