<div ng-init='init()'>
    <page-title-header user="user" msg="message" addlabel='add new vendor' url='/#!/vendors/new'>
    </page-title-header>
    <div class='content'>
        <custom-table headings='headings' add-row-number datalistready='vendorListReady' btn-label='Add New Vendor' options='["name", "streetname", "city", "state", "zipcode"]' callback='vendorDetail'>
        </custom-table>
    </div>
</div>